<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo</title>
</head>
<body>
     
<section class="container">
    <h1>Lorem ipsum dolor sit amet.</h1>
    <form method="POST" action='/' class="form">  
        <div>
           <label for="nome">Nome: </label>
           <input type="text" id="nome" class="validar">
        </div>

        <div>
            <label for="confirmSenha">Confirmar Senha: </label>
             <input type="password" id="confirmSenha" class="validar">
         </div>
    
    
        <button type="submit">Enviar</button>
        </form>

</section>

<script src="./assets/js/bundle.js"></script>
</body>
</html>